{% extends "base.html" %}
{% block title %} {% endblock %}

{% block content %}


<style>
    div {
        text-align: center;
    }
</style>

<br><br>

<table class="table">
    <thead class="table-light">
    <tr>
        <td colspan="4"><h3>Zestawienie przedstawiające czasy trwania poszczególnych zadań dla konkretnego projektowania</h3></td>
    </tr>
    <tr>
        <th scope="col"></th>
        <th scope="col"><h5>Projektowanie 3D</h5></th>
        <th scope="col"><h5>Projektowanie 2D</h5></th>
        <th scope="col"><h5>Weryfikacja/Walidacja</h5></th>
    </tr>
    <tr>
        <th scope="col"></th>
        <th scope="col">Czas trwania zadania[h]</th>
        <th scope="col">Czas trwania zadania[h]</th>
        <th scope="col">Czas trwania zadania[h]</th>
    </tr>
    </thead>
    <tbody>
    {% for j in range(0, seq|length)%}
    <tr class="{{tab_print[j]}}">
        <th scope="row">{{tasks[j]}}</th>
        {% for i in range(0, 3)%}
        <td>{{o[i][j]}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
    </tbody>
</table>

<table class="table">
    <thead class="table-light">
        <tr>
        <td colspan="7"><h3>Poszeregowane zestawienie dla najlepszej sekwencji wykonywania zadań </h3></td>
    </tr>
    <tr>
        <th scope="col"></th>
        <th colspan="2"><h5>Projektowanie 3D</h5></th>
        <th colspan="2"><h5>Projektowanie 2D</h5></th>
        <th colspan="2"><h5>Weryfikacja/Walidacja</h5></th>
    </tr>
    <tr>
        <th scope="col"></th>
        <th scope="col">Czas rozpoczęcia zadania[h]</th>
        <th scope="col">Czas trwania zadania[h]</th>
        <th scope="col">Czas rozpoczęcia zadania[h]</th>
        <th scope="col">Czas trwania zadania[h]</th>
        <th scope="col">Czas rozpoczęcia zadania[h]</th>
        <th scope="col">Czas trwania zadania[h]</th>
    </tr>
    </thead>
    <tbody>

    {% for i in range(0, seq|length*2,2)%}
    <tr class="{{tab_print[seq[i//2]]}}">
        <th scope="row">{{tasks[seq[i//2]]}}</th>
        <td>{{_3D[i]}}</td>
        <td>{{_3D[i+1]}}</td>
        <td>{{_2D[i]}}</td>
        <td>{{_2D[i+1]}}</td>
        <td>{{_Validation[i]}}</td>
        <td>{{_Validation[i+1]}}</td>
    </tr>
    {%endfor%}

    </tbody>
</table>


<h2>Wykres przedstawiający poszeregowaną sekwencję rozpoczęcia zadań.</h2>
<div>
    <img src="{{img}}">
</div>


{% endblock %}

