{% extends "base.html" %}
{% block title %}Login Page {% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="post">
    <h3><b>Wprowadź swoje imię: </b> </h3>
    <h3><input type="text" name="nm" /> </h3>
    <p><input type="submit" value="potwierdź" /> </p>
</form>
<!--<canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;"></canvas>-->
{% endblock %}